body {
    background-color: #1f1f1f;
    color: #fff;
  }
  .nav-link{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 15px;
    
  }
  .navbar-brand{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 30px;
    
  }
  
  .section-title {
    color: teal;
  }
  
  .about-section {
    padding-top: 50px;
  }
  
  .container-box {
    background-color: #1a1a1a;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    padding: 30px;
    margin-bottom: 40px;
  }
  
  .container-box h3 {
    color: teal;
  }
  
  .container-box p,
  .container-box ul {
    color: #fff;
    margin-top: 20px;
  }
  
  .container-box ul {
    list-style: none;
    padding-left: 0;
  }
  
  .container-box ul li {
    margin-bottom: 10px;
  }
  